* {
  margin: 0;
}

a, h1 {
  color:crimson;
  font-family:cursive;
}

h4 {
  margin: 34px 20px 0 20px;
  padding: 0 0 10px 22px;
  border-bottom: 2px solid crimson;
}

.main {
  display: table;
}

.message {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.head {
  max-height: 120px;
  width: 100%;
  display: inline-flex;
}

.head-left {
  float: left;
  width: 70%;
  display: table;
  height: 100%;
}

#head-icon {
  max-width: 100%;
  height: auto;
  padding: 7px 0 7px 44px;
  display: table-cell;
  vertical-align: middle;
}

#title {
  font-size: 3rem;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.head-right {
  float: right;
  width: 30%;
  display: inline-flexbox;
}

.icon {
  float: right;
  padding: 12px;
  margin-top: 30px;
}

.icons {
  margin-left: 30%;
  width: 200px;
  height: 100%;
  display: flexbox;
  position: absolute;
}

.handle {
  width: 120px;
}

.span:hover {
  opacity: 0.5;
  cursor: pointer;
}

.time {
  font-size: smaller;
  color: gray;
  float: right;
}

.span {
  width: 22px;
  display: flexbox;
}

.input {
  margin: 20px 0 0 20px;
  width: 130px;
}

.btn {
  width: 120px;
  height: 33px;
  background-color: rgba(220, 20, 60, 0.726);
  margin: 12px 0 0 40px;
  cursor: pointer;
}

#update {
  margin: 40px 0 0 40px;
}

.sidebar {
  background-color: rgba(220, 20, 60, 0.096);
  position:absolute;
  display: inline;
  width: 200px;
  height: 100%;
}

.content {
  position:relative;
  display: inline-flexbox;
  margin-left: 200px;
  height: 100%;

}

span {
  width: 1fr;
  display: inline-block;
}

.container {
  max-width: 95px;
  max-height: auto;
  display: inline-block;
}

.list {
  padding-top: 20px;
  list-style-type: none;
}

.friends {
  line-height: 22px;
}

.handle:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  width: 100%; height: 24px;
  position: relative;
}

#section {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.tweet {
  width: 55%;
  max-width: 500px;
  height: 88px;
  margin-bottom: 40px;
  border-left: 6px solid crimson;
  border-bottom: 1px solid rgba(220, 20, 60, 0.377);
  border-radius: 6px;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .tweet {
    width: 60%;
    margin: 0 20px 40px;
  }
  .icons {
    margin-left: 5%;
    width: 100px;
  }
}

@media screen and (min-width: 651px) and (max-width: 799px) {
  .tweet {
    width: 90%;
    margin: 0 0 40px;
  }
  .icons {
    margin-left: 15%;
  }
  .span {
    width: 28px;
  }
  #head-icon {
    padding: 7px 0 7px 32px;
  }
  .input {
    max-width: 120px;
    /* margin: 5px 0 5px 20px; */
  }
}

@media screen and (min-width: 550px) and (max-width: 650px) {
  .tweet {
    width: 90%;
    margin: 0 0 40px;
  }
  .icons {
    margin: 0 0 20px;;
  }
  .span {
    width: 22px;
  }
  #head-icon {
    padding: 2px 0 2px 22px;
  }
  .input {
    max-width: 120px;
    margin: 15px 0 5px 25px;
  }
}

@media screen and (min-width: 0px) and (max-width: 549px) {
  .tweet {
    width: 90%;
    min-width: 220px;
    margin: 0 0 40px;
    border-bottom: 0px;
    border-top: 1px solid rgba(220, 20, 60, 0.452);
  }
  .icons {
    margin-left: 5%;
    display: inline;
    position: absolute;
    width: 45px;
    height: auto;
  }
  .span {
    width: 22px;
  }

  .input {
    max-width: 100px;
    margin: 5px 0 5px 20px;
  }
  #head-icon {
    padding: 0;
  }

  .sidebar {
    width: 180px;
    z-index: 1;
  }

  .content {
    margin-left: 160px;
  }

}