/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */

/* html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;

} */


/* #app {
  background-color: green;
  color: yellow;
} */


* {
  margin: 0;
}

a, h1 {
  color:crimson;
  font-family:cursive
}

h4 {
  /* text-align: center; */
  margin: 34px 20px 0 20px;
  padding: 0 0 10px 22px;
  border-bottom: 2px solid crimson;
}

.main {
  display: table;
}

.message {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.time {
  font-size: smaller;
  color: gray;
  float: right;
}

.head {
  max-height: 120px;
  width: 100%;
  display: inline-flex;
}
.head-left {
  float: left;
  width: 70%;
  display: table;
  height: 100%;
}

#head-icon {
  max-width: 100%;
  height: auto;
  padding: 7px 0 7px 44px;
  display: table-cell;
  vertical-align: middle;
}

#title {
  font-size: 3rem;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.head-right {
  float: right;
  width: 30%;
  display: inline-flexbox;
}

.icon {
  float: right;
  padding: 12px;
  margin-top: 30px;
}

.input {
  margin: 20px 0 0 25px;;
}

.btn {
  width: 120px;
  height: 33px;
  background-color: crimson;
  margin: 12px 0 0 40px;

}

#update {
  margin: 40px 0 0 40px;
}

.sidebar {
  background-color: rgba(220, 20, 60, 0.096);
  position:absolute;
  display: inline;
  width: 200px;
  height: 100%;
}

.content {
  /* background-color: rgb(144, 202, 241); */
  position:relative;
  display: inline-flexbox;
  margin-left: 200px;
  height: 100%;

}

span {
  width: 1fr;
  display: inline-block;
}

.container {
  max-width: 95px;
  max-height: auto;
  display: inline-block;
}

.list {
  padding-top: 20px;
  list-style-type: none;
}

.friends {
  line-height: 22px;
}

.handle:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  width: 100%; height: 24px;
  display: 'flexbox';
}

#section {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.tweet {
  width: 100%;
  height: 88px;
  margin-bottom: 22px;
  border-left: 6px solid crimson;
  border-radius: 6px;
  /* background-color: rgba(220, 20, 60, 0.096); */
}

@media screen and (min-width: 950px) and (max-width: 10000px) {
  .tweet {
    max-width: 60%;
    margin-left: 20%;
  }
}